.filterMenuContainer {
  background: #C2A83E;
  height: 30%;
}

.filterItem {
  padding-top: .7em;
  padding-bottom: .7em;
  cursor: pointer;
}

.filterItem:hover{
  color: #CCD9B4;
}

@media only screen and (min-width: 600px) {
    .filterItem, .aboutLink {
    display: inline-block;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

