.produceItem {
  padding: .4em;
  display: inline-block;
  cursor: pointer;
  transform: scale(1.00);
  transition: transform 0.5s, opacity 0.5s;
}

.produceItem:hover {
  transform: scale(1.03);
 } 

.produceImg {
  height: 200px;
  width: 150px;
  border: 2px solid #ADBEBD;
  border-radius: .1em;
}

.popupBody {
  margin-top: 2%;
}

.popupBody > p {
  padding-top: .5em;
  padding-bottom: .5em;
  color: #486E6A;
}

.popupBody > a {
  color: #C2A83E; 
}
.popupBody > a:hover {
  color: #B19939;
}
