.app {
  text-align: center;
}
.appHeader {
  background-color: #204E4A;
  height: 180px;
  padding: 20px;
}

.appLogo {
  height: 100px;
  display: inline-block;
  padding: 1em;
}

.appTitle {
  color: #E0EEC6;
}
