.app {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.appHeader {
  background-color: #204E4A;
}

.appLogo {
  height: 100px;
  display: inline-block;
  padding: 1em;
}

.appTitle {
  color: #E0EEC6;
  padding-bottom: .5em;
}

.aboutLink, .ghLink {
  color: #C2A83E;
  text-decoration: none;
  padding: .5em;
  display: block;
  font-size: .9em;
}

.aboutLink:hover, .ghLink:hover {
  color: #CCD9B4;
}

footer {
  background-color: #204E4A; 
  padding: .75em;
  font-size: 1em;
} 

.siteContent {
  flex: 1;
  width: 100%;
  padding-bottom: 1em;
}

@media only screen and (min-width: 600px) {
  .aboutLink, .ghLink {
    display: inline-block;
  }
}
